.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px;

    @include font-montserrat-h3();
  }

  &__input-wrapper {
    position: relative;
    cursor: pointer;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    max-height: rem(44px);
    margin: 0 auto;
    padding: rem(10px 32% 10px 15px);
    color: $dark25;
    text-overflow: ellipsis;
    background: $white;
    border: 1px solid $dark25;
    border-radius: 2px;
    cursor: pointer;

    @include font-montserrat-body();

    &_expanded {
      border: 1px solid $dark50;
    }
  }

  &__button-icon {
    @include button-icon;

    @include expand-icon;
  }

  &__items {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: $z-index-dropdown;
    margin: 0;
    padding: rem(7px 7px 0 15px);
    list-style-type: none;
    background: $white;
    border: 1px solid $dark50;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 10px 20px 0px $dark5;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(7px);

    @include font-montserrat-h3;
  }

  &__item-name {
    display: flex;
    align-items: center;
    padding-right: rem(5px);
    word-break: break-all;
  }

  &__item-value {
    display: flex;
    align-items: center;
  }

  &__item-buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: rem(92px);
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(20px);
    padding-bottom: rem(13px);
  }

  &:hover,
  &:active {
    border-color: $dark50;
  }
}

.button-plus,
.button-minus {
  width: rem(30px);
  height: rem(30px);
  color: $dark50;
  background: transparent;
  border: 1px solid $dark25;
  border-radius: 50%;
  cursor: pointer;

  @include font-montserrat(rem(18px), rem(22px));

  &:disabled {
    opacity: .38;
  }

  &:hover {
    border: 1px solid $dark50;
  }
}

.button_hidden {
  visibility: hidden;
}

.button-plus {

  &::after {
    content: '+';
  }
}

.button-minus {

  &::after {
    content: '-';
  }
}

.button-widget {
  padding: 0;
  color: $purple;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  cursor: pointer;

  @include font-montserrat(rem(12px), rem(15px), bold);

  &:hover {
    color: $dark50;
  }
}
