.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px;

    @include font-montserrat-h3();
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    max-height: rem(44px);
    margin: 0 auto;
    padding: rem(10px 32% 10px 15px);
    color: $text-primary-dark;
    text-overflow: ellipsis;
    background: $bg-primary;
    border: 1px solid $border-primary-light;
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;

    @include font-montserrat-body();

    &-wrapper {
      position: relative;
      cursor: pointer;
    }

    &-wrapper:hover &,
    &:focus-visible,
    &_expanded,
    &:hover {
      border-color: $border-primary-medium;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__button-icon_style_expand-more {
    @include icon-expand-more;
  }

  &__items {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: $z-index-dropdown;
    margin: 0;
    padding: rem(7px 7px 0 15px);
    list-style-type: none;
    background: $bg-primary;
    border: 1px solid $border-primary-medium;
    border-top: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 10px 20px 0px $shadow-primary-lightest;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(7px);

    @include font-montserrat-h3;
  }

  &__item-name {
    display: flex;
    align-items: center;
    padding-right: rem(5px);
    word-break: break-all;
  }

  &__item-value {
    display: flex;
    align-items: center;
  }

  &__item-buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: rem(92px);
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(20px);
    padding-bottom: rem(13px);
  }

  &:hover,
  &:active {
    border-color: $border-primary-medium;
  }

  &__button-plus,
  &__button-minus {
    width: rem(30px);
    height: rem(30px);
    color: $text-primary-medium;
    background: transparent;
    border: 1px solid $border-primary-light;
    border-radius: 50%;
    cursor: pointer;

    @include font-montserrat(rem(18px), rem(22px));

    &:disabled {
      cursor: default;
      opacity: .38;
    }

    &:disabled:hover {
      border: 1px solid $border-primary-light;
    }

    &:hover {
      border: 1px solid $border-primary-medium;
    }
  }

  &__button-plus {

    &::after {
      content: '+';
    }
  }

  &__button-minus {

    &::after {
      content: '-';
    }
  }

  &__button_hidden {
    visibility: hidden;
  }

  &__button-widget {
    padding: 0;
    color: $text-tertiary;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    cursor: pointer;

    @include font-montserrat(rem(12px), rem(15px), bold);

    &:hover {
      color: $text-primary-medium;
    }
  }
}
