extends /layouts/base.pug

block baseVariables
  - const title = 'Mock address';

block content
  main.mock-address
    p.mock-address__error-message= 'OOPS this link are mock. Don\'t forget to change it!'
