include /components/button/button.pug
include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown.pug
include /components/room-info/room-info.pug

mixin book-room({ roomInfo })
  form.book-room.js-book-room
    .book-room__room-info
      +room-info(roomInfo)

    .book-room__date-dropdown
      -
        const dateDropdownProps = {
          arrivalLabel:'прибытие',
          departureLabel:'выезд',
          dropdownArrivalClass: 'js-book-room-date-dropdown-arrival',
          dropdownDepartureClass: 'js-book-room-date-dropdown-departure',
        }
      +date-dropdown(dateDropdownProps)

    .book-room__dropdown-guests.js-book-room-dropdown-guests
      +dropdown

    .book-room__price-list-wrapper.js-book-room-price-list-wrapper

    .book-room__total
      span.book-room__total-text= "Итого"
      .book-room__total-filler
      output.book-room__total-sum.js-book-room-total-sum(name='total-sum')

    .book-room__button-book.js-book-room-button-book
      -
        const buttonBookProps = {
          type: 'submit',
          width:'full',
          style: 'filled',
          withArrow: true,
          text: 'забронировать'
        }
      +button(buttonBookProps)
