.book-room {
  @include form;

  &__room-info {
    margin-bottom: rem(23px);
  }

  &__date-dropdown,
  &__dropdown-guests {
    margin-bottom: rem(20px);
  }

  &__price-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include clear-ul-style;

    & {
      margin-bottom: rem(30px);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item-name-wrapper {
    position: relative;
    display: flex;
    align-items: baseline;
    width: rem(220px);
  }

  &__item-name {
    line-height: rem(18px);
  }

  &__item-about {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:hover::before {
      color: $text-primary-medium;
      border: 1px solid $border-primary-medium;
    }

    &::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: rem(20px);
      min-height: rem(20px);
      color: $text-primary-light;
      text-align: center;
      border: 1px solid $border-primary-light;
      border-radius: 50%;
      content: 'i';

      @include font-montserrat(rem(12px), rem(14px), bold);
    }

    &-text {
      position: absolute;
      bottom: 0;
      display: none;
      min-width: 100%;
      max-width: rem(100px);
      padding: rem(10px);
      word-wrap: break-word;
      background: $bg-primary;
      border: 1px solid $border-primary-light;
      border-radius: 4px;
      box-shadow: 0 10px 20px $shadow-primary-lighter;
      transform: translateX(calc(-50% + 11px));
      cursor: default;
    }

    &:hover &-text {
      display: block;
    }
  }

  &__total {
    display: flex;
    margin-bottom: rem(20px);
  }

  &__total-text,
  &__total-sum {
    white-space: nowrap;

    @include font-montserrat-h2;
  }

  &__total-filler {
    flex-grow: 1;
    border-bottom: 1px dotted $border-primary-light;
  }
}
