include /components/button/button.pug
include /components/date-dropdown/date-dropdown.pug
include /components/room-info/room-info.pug

mixin book-room({roomInfo, priceList, totalSum})
  form.book-room
    .book-room__room-info
      +room-info(roomInfo)
    .book-room__date-dropdown
      -
        const dateDropdownProps = {
          arrivalLabel:'прибытие',
          departureLabel:'выезд',
          dropdownArrivalClass: 'js-book-room__date-dropdown-arrival',
          dropdownDepartureClass: 'js-book-room__date-dropdown-departure',
        }
    .book-room__date-dropdown
      +date-dropdown(dateDropdownProps)
    .book-room__dropdown-guests
      .js-book-room__dropdown-guests
    ul.book-room__price-list
      each item in priceList
        li.book-room__item
          .book-room__item-name-wrapper
            - const hasNewLines = item.name.includes("<br>");
            -
              const itemNameClassNames = {
                "book-room__item-name": true,
                "book-room__item-name_style_multiline": hasNewLines,
              }
            span(class=itemNameClassNames)!= item.name
            if item.about
              span.book-room__item-about
          span.book-room__item-sum #{ item.total }

    .book-room__total
      .book-room__total-text= "Итого"
      .book-room__total-filler
      .book-room__total-sum #{ totalSum }
    .book-room__button-book
      -
        const buttonBookProps = {
          type: 'submit',
          width:'full',
          style: 'filled',
          arrow: true,
          text: 'забронировать'
        }
      +button(buttonBookProps)
