.landing-page {
  display: flex;
  flex-direction: column;

  &__background {
    width: 100%;
    min-height: rem(830px);
    background: url('/assets/images/backgrounds/background-3.jpg') no-repeat;
    background-size: cover;

    @media (max-width: $tablet) {
      min-height: rem(630px);
    }

    @media (max-width: $mobile) {
      min-height: rem(530px);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

    @include container;

    @media (max-width: $mobile) {
      align-items: center;
    }
  }

  &__find-rooms {
    margin-top: rem(70px);
  }

  &__text {
    position: relative;
    left: rem(5px);
    align-self: flex-end;
    margin: rem(0 0 20px);
    white-space: pre-line;
    text-align: right;
  }
}
