extends /layouts/base.pug

block baseVariables
  - const title = "Toxin";
  - const bodyClass = "landing-page";

include /components/header/header.pug
include /components/find-rooms/find-rooms.pug
include /components/footer/footer.pug

block header
  +header({ isLogged: false })

block content
  main.landing-page__background
    .landing-page__container
      .landing-page__find-rooms
        +find-rooms
      p.landing-page__text
        | Лучшие номера для вашей работы,
        | отдыха и&nbsp;просто вдохновения

block footer
  +footer
