.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-bg-color;

  @media (max-width: $tablet) {
    &__widgets {
      display: none;
    }
  }

  &__widgets {
    width: 100%;
    min-height: rem(372px);
    box-shadow: 0px 1px 0px $dark10;
  }

  &__grid {
    display: grid;
    grid-template-columns: 22.41% 13.79% 13.79% 13.79% 22.41%;
    margin-top: rem(100px);
    column-gap: 3.45%;
  }

  &__grid-column {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: rem(20px);
  }

  &__text {
    margin: 0;
    color: $dark75;
    @include font-montserrat(rem(14px), rem(24px));
  }

  &__item-list {
    @include clear-ul-style;
  }

  &__item-heading {
    margin: 4px 0 rem(21px);
    color: $dark100;
    text-transform: uppercase;
    @include font-montserrat(rem(12px), rem(15px), bold);
  }

  &__item {
    color: $dark50;
    @include font-montserrat(rem(14px), rem(18px));

    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }

  &__item-link {
    @include clear-link-style;
  }

  &__input-email {
    margin-top: rem(20px);
  }

  &__copyright {
    width: 100%;
  }

  &__copyright-logo {
    display: none;
  }

  &__copyright-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
    min-height: rem(70px);
  }
}
