.input {
  box-sizing: border-box;
  width: 100%;
  max-height: rem(44px);
  margin: 0 auto;
  padding: rem(10px) rem(15px);
  color: $text-primary-light;
  background: $bg-primary;
  border: 1px solid $border-primary-light;
  border-radius: rem(4px);

  @include font-montserrat-body();

  &__wrapper {
    position: relative;
  }

  &__icon_style_arrow {
    @include icon-arrow($border-tertiary);
  }

  &__icon_style_expand-more {
    @include icon-expand-more;
  }

  &__icon_style_expand_less {
    @include icon-expand-less;
  }

  &_size_small {
    max-width: rem(150px);
  }

  &_size_medium {
    max-width: rem(266px);
  }

  &_size_large {
    max-width: rem(360px);
  }

  &_size_full {
    max-width: 100%;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-primary-light;
    opacity: 1; /* Firefox */
  }

  &:focus-visible,
  &:hover,
  &_hovered {
    border-color: $border-primary-medium;

    &::placeholder {
      color: $text-primary-dark;
    }
  }

  &:focus-visible {
    outline: none;
  }
}
