.input {
  box-sizing: border-box;
  width: 100%;
  max-height: rem(44px);
  margin: 0 auto;
  padding: rem(10px) rem(15px);
  color: $dark25;
  background: $white;
  border: 1px solid $dark25;
  border-radius: rem(4px);

  @include font-montserrat-body();

  &__wrapper {
    position: relative;
  }

  &__icon {
    @include button-icon;

    @include expand-icon;

    &_arrow::after {
      color: $purple;

      @include font-material-icons('arrow_forward');
    }
  }

  &_size_small {
    max-width: rem(150px);
  }

  &_size_medium {
    max-width: rem(266px);
  }

  &_size_large {
    max-width: rem(360px);
  }

  &_size_full {
    max-width: 100%;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark25;
    opacity: 1; /* Firefox */
  }

  &:hover,
  &_hover {
    border-color: $dark50;

    &::placeholder {
      color: $dark75;
    }
  }
}
