.review {
  display: flex;
  flex-direction: column;

  &__author {
    display: flex;
    margin-bottom: rem(7px);
  }

  &__avatar {
    width: rem(48px);
    height: rem(48px);
    margin-right: rem(10px);
    border: 2px solid $border-secondary;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 20px $shadow-primary-lighter);
  }

  &__name,
  &__text {
    margin: 0;
  }

  &__name {
    @include font-montserrat(rem(14px), rem(24px), bold);
  }

  &__text {
    padding-top: 1px;
    white-space: pre-line;
  }

  &__info {
    display: flex;
    align-items: baseline;
  }

  &__button-like {
    margin: rem(0 14px 0 2px);
  }
}
