.button {
  margin: 0;
  padding: 10px 20px;
  color: $purple;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border: 2px solid $purple;
  border-radius: 22px;
  cursor: pointer;
  @include font-montserrat(12px, 15px, bold);

  &--filled {
    color: white;
    background: $primary-gradient;
    border: 0;
  }
}
