.sign-in {
  @include form;

  &__entry-data {
    margin-bottom: rem(20px);

    &-fieldset {
      display: flex;
      flex-direction: column;
      gap: rem(10px);

      @include fieldset;
    }
  }

  &__button-enter {
    margin-bottom: rem(30px);
  }

  &__sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      margin: 0;
      color: $black;
    }
  }
}
