include /components/input/input.pug
include /components/button/button.pug

mixin sign-in
  form.sign-in
    h2.sign-in__heading= "Войти"
    .sign-in__entry-data
      fieldset.sign-in__entry-data-fieldset
        +input({ type: 'email', placeholder: 'Email', size: 'large' }) 
        +input({ type: 'password', placeholder: 'Пароль', size: 'large' })

    .sign-in__button-enter
      -
        const buttonEnterProps = {
          type: 'submit',
          width:'full',
          style: 'filled',
          arrow: true,
          text: 'войти'
        }
      +button(buttonEnterProps)

    .sign-in__sign-up
      p.sign-in__sign-up-text= "Нет аккаунта на Toxin?"
      -
        const buttonSignUpProps = {
          width: 'small',
          text: 'создать',
          href: '/registration.html'
        }
      +button(buttonSignUpProps)
