{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "plugins": ["import", "prettier", "pug"],
  "rules": {
    "object-curly-newline": "off",
    "linebreak-style": 0,
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "unknown",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always",
        "warnOnUnassignedImports": true
      }
    ],
    "import/newline-after-import": "error",
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never",
        "pug": "never"
      }
   ]
  },
  "settings": {
    "import/resolver": { "webpack": { "config": "./config/webpack.common.js" } }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base"
  ]
}