//- available properties:
  checked: boolean;
  text: string

mixin input-checkbox({checked, text})
  label.input-checkbox__label
    input.input-checkbox(type='checkbox', checked=checked || false)
    span.input-checkbox__icon
    = text
