.button {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  border-radius: rem(22px);
  cursor: pointer;

  @include font-montserrat(rem(12px), rem(15px), bold);

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-radius: rem(22px);
  }

  &__icon_with-arrow {
    @include icon-arrow();
  }

  &_size_small .button__text {
    padding: rem(8px 18px);
  }

  &_size_medium .button__text {
    padding: rem(13px 18px);
  }

  &_width_small {
    min-width: 100px;
  }

  &_width_full {
    width: 100%;
  }

  &_width_auto {
    width: auto;
  }

  &_style_filled,
  &_style_border,
  &_style_page-selected {
    background: $primary-gradient;

    &.button:hover,
    &.button_hovered {
      background: $primary-gradient_hover;
    }
  }

  &_style_filled,
  &_style_page-selected {
    color: $white;
  }

  &_style_border {
    color: $purple;

    .button__text {
      background: $white;
    }
  }

  &_style_borderless {
    padding: 0;
    color: $purple;
    background: none;

    .button__text {
      padding: 0;
    }

    &.button:hover,
    &.button_hovered {
      color: $dark50;
    }
  }

  &_style_page,
  &_style_page-selected,
  &_style_page-next {
    width: rem(40px);

    @include font-montserrat(rem(12px), rem(15px));

    .button__text {
      margin: 0;
    }
  }

  &_style_page {
    color: $dark50;
    background: none;
  }

  &_style_page-next {
    color: $white;
    background: $secondary-gradient;

    .button__icon {
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.button:hover,
    &.button_hovered {
      background: $secondary-gradient_hover;
    }
  }
}
