.button {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  border-radius: rem(22px);
  cursor: pointer;

  @include font-montserrat(rem(12px), rem(15px), bold);

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-radius: rem(22px);
  }

  &__icon_with-arrow {
    @include icon-arrow();
  }

  &_size_small &__text {
    padding: rem(8px 18px);
  }

  &_size_medium &__text {
    padding: rem(13px 18px);
  }

  &_width_small {
    min-width: 100px;
  }

  &_width_full {
    width: 100%;
  }

  &_width_auto {
    width: auto;
  }

  &_style_filled,
  &_style_border,
  &_style_page-selected {
    background: $gradient-primary;

    &.button:hover,
    &.button_hovered {
      background: $gradient-primary-hover;
    }
  }

  &_style_filled,
  &_style_page-selected,
  &_style_page:hover {
    color: $text-secondary;
  }

  &_style_border {
    color: $text-tertiary;

    .button__text {
      background: $bg-primary;
    }
  }

  &_style_borderless {
    padding: 0;
    color: $text-tertiary;
    background: none;

    .button__text {
      margin: 0;
      padding: 0;
    }

    &.button:hover,
    &.button_hovered {
      color: $text-primary-medium;
    }
  }

  &_style_page,
  &_style_page-selected,
  &_style_page-next {
    width: rem(40px);

    @include font-montserrat(rem(12px), rem(15px));

    .button__text {
      margin: 0;
    }
  }

  &_style_page:hover {
    background: $gradient-primary;
  }

  &_style_page {
    color: $text-primary-medium;
    background: none;
  }

  &_hidden {
    visibility: hidden;
  }

  &_style_page-next {
    color: $text-secondary;
    background: $gradient-secondary;

    .button__icon {
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.button:hover,
    &.button_hovered {
      background: $gradient-secondary-hover;
    }
  }

  &:disabled {
    background: $bg-quaternary;
    cursor: default;
  }

  &:disabled:hover {
    background: $bg-quaternary;
  }
}
