.button {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  border-radius: rem(22px);
  cursor: pointer;

  @include font-montserrat(rem(12px), rem(15px), bold);

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-transform: uppercase;
    background: transparent;
    border-radius: rem(22px);
  }

  &__icon {
    @include button-icon;

    &::after {
      @include font-material-icons('arrow_forward');
    }
  }

  &--small .button__text {
    padding: rem(8px 18px);
  }

  &--medium .button__text {
    padding: rem(13px 18px);
  }

  &--width-small {
    min-width: 100px;
  }

  &--width-full {
    width: 100%;
  }

  &--width-auto {
    width: auto;
  }

  &--filled,
  &--border,
  &--page-selected {
    background: $primary-gradient;

    &.button:hover,
    &.button--hover {
      background: $primary-gradient--hover;
    }
  }

  &--filled,
  &--page-selected {
    color: $white;
  }

  &--border {
    color: $purple;

    .button__text {
      background: $white;
    }
  }

  &--borderless {
    padding: 0;
    color: $purple;
    background: none;

    .button__text {
      padding: 0;
    }

    &.button:hover,
    &.button--hover {
      color: $dark50;
    }
  }

  &--page,
  &--page-selected,
  &--page-next {
    width: rem(40px);

    @include font-montserrat(rem(12px), rem(15px));

    .button__text {
      margin: 0;
    }
  }

  &--page {
    color: $dark50;
    background: none;
  }

  &--page-next {
    color: $white;
    background: $secondary-gradient;

    .button__icon {
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.button:hover,
    &.button--hover {
      background: $secondary-gradient--hover;
    }
  }
}
