.search-room-page {
  display: flex;
  flex-direction: column;

  &__background {
    width: 100%;
    background: $bg-primary;
    border-bottom: 1px solid $border-primary-lighter;
  }

  &__container {
    display: flex;
    gap: rem(60px);
    justify-content: space-between;

    @include container;

    & {
      margin-top: rem(30px);
      margin-bottom: rem(70px);
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: rem(30px);
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__filter {
    width: 100%;
    max-width: rem(266px);

    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__room-cards-list {
    width: 100%;
  }
}
