extends /layouts/base.pug

block baseVariables
  - const title = "Search room";
  - const bodyClass = "search-room-page";

include /components/header/header.pug
include /components/room-filter/room-filter.pug
include /components/room-cards-list/room-cards-list.pug
include /components/footer/footer.pug

block header
  +header({ isLogged: false })

block content
  .search-room-page__background
    .search-room-page__container
      aside.search-room-page__filter
        +room-filter

      .search-room-page__room-cards-list
        -
          const cardsList = [
            {
              sliderContent: [
                  require('/assets/images/rooms/room-888.jpg'),
                  require('/assets/images/rooms/room-840.jpg'),
                  require('/assets/images/rooms/room-980.jpg'),
                  require('/assets/images/rooms/room-856.jpg'),
                ],
              link: '/room-details.html',
              number: 888,
              price: 9990,
              type: 'люкс',
              score: 5,
              reviewsNumber: 145,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-840.jpg'),
                  require('/assets/images/rooms/room-980.jpg'),
                  require('/assets/images/rooms/room-856.jpg'),
                  require('/assets/images/rooms/room-740.jpg'),
                ],
              link: '/room-details.html',
              number: 840,
              price: 9990,
              score: 4,
              reviewsNumber: 65,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-980.jpg'),
                  require('/assets/images/rooms/room-856.jpg'),
                  require('/assets/images/rooms/room-740.jpg'),
                  require('/assets/images/rooms/room-982.jpg'),
                ],
              link: '/room-details.html',
              number: 980,
              price: 8500,
              type: 'люкс',
              score: 3,
              reviewsNumber: 35,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-856.jpg'),
                  require('/assets/images/rooms/room-740.jpg'),
                  require('/assets/images/rooms/room-982.jpg'),
                  require('/assets/images/rooms/room-678.jpg'),
                ],
              link: '/room-details.html',
              number: 856,
              price: 7300,
              score: 5,
              reviewsNumber: 19,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-740.jpg'),
                  require('/assets/images/rooms/room-982.jpg'),
                  require('/assets/images/rooms/room-678.jpg'),
                  require('/assets/images/rooms/room-450.jpg'),
                ],
              link: '/room-details.html',
              number: 740,
              price: 6000,
              score: 4,
              reviewsNumber: 44,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-982.jpg'),
                  require('/assets/images/rooms/room-678.jpg'),
                  require('/assets/images/rooms/room-450.jpg'),
                  require('/assets/images/rooms/room-350.jpg'),
                ],
              link: '/room-details.html',
              number: 982,
              price: 5800,
              score: 3,
              reviewsNumber: 56, 
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-678.jpg'),
                  require('/assets/images/rooms/room-450.jpg'),
                  require('/assets/images/rooms/room-350.jpg'),
                  require('/assets/images/rooms/room-666.jpg'),
                ],
              link: '/room-details.html',
              number: 678,
              price: 5500,
              score: 5,
              reviewsNumber: 45,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-450.jpg'),
                  require('/assets/images/rooms/room-350.jpg'),
                  require('/assets/images/rooms/room-666.jpg'),
                  require('/assets/images/rooms/room-444.jpg'),
                ],
              link: '/room-details.html',
              number: 450,
              price: 5300,
              score: 4,
              reviewsNumber: 39,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-350.jpg'),
                  require('/assets/images/rooms/room-666.jpg'),
                  require('/assets/images/rooms/room-444.jpg'),
                  require('/assets/images/rooms/room-352.jpg'),
                ],
              link: '/room-details.html',
              number: 350,
              price: 5000,
              score: 3,
              reviewsNumber: 77,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-666.jpg'),
                  require('/assets/images/rooms/room-444.jpg'),
                  require('/assets/images/rooms/room-352.jpg'),
                  require('/assets/images/rooms/room-888.jpg'),
                ],
              link: '/room-details.html',
              number: 666,
              price: 5000,
              score: 5,
              reviewsNumber: 25,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-444.jpg'),
                  require('/assets/images/rooms/room-352.jpg'),
                  require('/assets/images/rooms/room-888.jpg'),
                  require('/assets/images/rooms/room-840.jpg'),
                ],
              link: '/room-details.html',
              number: 444,
              price: 5000,
              score: 3,
              reviewsNumber: 15,
            },
            {
              sliderContent: [
                  require('/assets/images/rooms/room-352.jpg'),
                  require('/assets/images/rooms/room-888.jpg'),
                  require('/assets/images/rooms/room-840.jpg'),
                  require('/assets/images/rooms/room-980.jpg'),
                ],
              link: '/room-details.html',
              number: 352,
              price: 5000,
              score: 3,
              reviewsNumber: 55,
            },
          ]

        +room-cards-list(cardsList)

block footer
  +footer
