.search-room-page {
  display: flex;
  flex-direction: column;

  &__background {
    width: 100%;
    background: $white;
    border-bottom: 1px solid $dark10;
  }

  &__container {
    display: flex;
    gap: rem(60px);
    justify-content: space-between;

    @include container;

    & {
      margin-top: rem(30px);
      margin-bottom: rem(69px);
    }
  }

  &__filter {
    width: 100%;
    max-width: rem(266px);
  }

  &__room-cards-list {
    width: 100%;
  }

  @media (max-width: $tablet) {

    &__container {
      flex-direction: column;
      gap: rem(30px);
      align-items: center;
      justify-content: flex-start;
    }
  }
}
