include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown.pug
include /components/button/button.pug

mixin find-rooms
  -
    const dateDropdownProps = {
      arrivalLabel: 'прибытие',
      departureLabel: 'выезд',
      dropdownArrivalClass: 'js-find-rooms-dropdown-arrival',
      dropdownDepartureClass: 'js-find-rooms-dropdown-departure',
    }

    const buttonProps = {
      type: 'submit',
      width: 'full',
      style: 'filled',
      withArrow: true,
      text: 'подобрать номер',
    }

  form.find-rooms
    h2.find-rooms__heading!= "Найдём номера под ваши пожелания"
    .find-rooms__date-dropdown
      +date-dropdown(dateDropdownProps)

    .find-rooms__dropdown-guests.js-find-rooms-dropdown-guests
      +dropdown

    .find-rooms__button
      +button(buttonProps)
