//- available properties:
  likesNumber: number;
  disabled: boolean;
  isPressed

mixin button-like({ likesNumber = 0, disabled = false, isPressed = false })
  -
    const buttonStyles = {
      'button-like': true,
      'js-button-like': true,
      'button-like_pressed': isPressed
    }

  button(class=buttonStyles, disabled=disabled)
    span.button-like__icon
    span.button-like__likes-number.js-button-like-likes-number= likesNumber
