.button-like {
  display: flex;
  align-items: center;
  min-width: rem(40px);
  height: rem(18px);
  margin: 0;
  color: $text-primary-light;
  background: $bg-primary;
  border: 1px solid $border-primary-light;
  border-radius: rem(10px);
  cursor: pointer;

  @include font-montserrat(10px, 12px);

  &__icon {

    &::after {
      @include font-material-icons('favorite_border', rem(10px), rem(9px));
    }
  }

  &__likes-number {
    flex: 1;
  }

  &_pressed {
    color: $text-tertiary;
    border: 1px solid $border-tertiary;

    .button-like__icon::after {
      @include font-material-icons('favorite', rem(10px), rem(9px));
    }
  }
}
