.date-dropdown {
  display: flex;
  justify-content: space-between;

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    margin: 0 0 5px;

    @include font-montserrat-h3;
  }

  &__input {

    & > .input__wrapper > .input {
      cursor: pointer;
    }

    &:first-child {
      margin-right: 20px;
    }
  }

  &__input-filter {
    width: 100%;
  }
}
