.date-dropdown {
  display: flex;
  gap: rem(20px);
  justify-content: space-between;

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    margin: 0 0 5px;

    @include font-montserrat-h3;
  }

  &__input-filter {
    width: 100%;
  }
}
