.date-dropdown {
  display: flex;
  gap: rem(20px);
  justify-content: space-between;
  @include clear-fieldset;

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: rem(5px);

    @include font-montserrat-h3;
  }

  &__input,
  &__input-filter {
    width: 100%;
  }
}
