.dropdown {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px;
    @include font-montserrat-h3();
  }

  &__input-wrapper {
    position: relative;
    cursor: pointer;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    max-height: rem(44px);
    margin: 0 auto;
    padding: rem(10px 15px);
    color: $dark25;
    background: $white;
    border: 1px solid $dark25;
    border-radius: 4px;
    cursor: pointer;
    @include font-montserrat-body();
  }

  &__button-icon {
    position: absolute;
    top: 50%;
    right: rem(10px);
    transform: translateY(-50%);

    &:after {
      color: $dark75;
      @include font-material-icons('expand_more');
    }
  }

  &__items {
    padding: rem(7px 7px 7px 15px);
    border: 1px solid $dark50;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    @include font-montserrat-h3;
  }

  &__item-name {
    display: flex;
    align-items: center;
  }

  &__item-value {
    display: flex;
    align-items: center;
  }

  &__item-buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: rem(92px);
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &:hover,
  &:active {
    border-color: $dark50;
  }
}

.button-plus,
.button-minus {
  width: rem(30px);
  height: rem(30px);
  color: $dark50;
  background: transparent;
  border: 1px solid $dark25;
  border-radius: 50%;
  cursor: pointer;
  @include font-montserrat(rem(18px), rem(22px));
}

.button-plus {
  &::after {
    content: '+';
  }
}

.button-minus {
  &::after {
    content: '-';
  }
}

.button-widget {
  margin-top: 20px;
  color: $purple;
  background: transparent;
  border: 0;
  cursor: pointer;
  @include font-montserrat-h3;
}
