block headerVariables
header.header
  .container
    .header__left-col
      include /pug-components/Logo/Logo.pug
    .header__right-col
      include /pug-components/Header-nav/Header-nav.pug
      include /pug-mixins/Button/Button.pug
      if isLogged
        .header__vertical-line
        .header__username= "Юлий Цезарь"
      else
        +button({size:'small', href:'/login', text:'войти'})
        +button({size:'small', href:'/register', text:'зарегистрироваться', style:'filled'})
