//- available properties:
  color: string;
  hex: string;
  name: string;

mixin color-example({ color, hex, name })
  .color-example
    .color-example__box(style=`background:${color}`)
    .color-example__info
      p.color-example__name #{ name }
      p.color-example__code #{ hex }
