.range-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(5px);

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20px);
  }

  &__name {
    @include font-montserrat-h3();
  }

  &__price-range {
    color: $dark50;

    @include font-montserrat(rem(12px), rem(15px));
  }

  &__container {
    margin-bottom: rem(18px);
  }

  &__additional-text {
    color: $dark50;

    @include font-montserrat(rem(12px), rem(14px));
  }
}

.noUi-horizontal {
  height: rem(6px);
}

.noUi-horizontal .noUi-handle {
  right: rem(-8px);
  width: rem(16px);
  height: rem(16px);
}

.noUi-handle {
  background: $secondary-gradient;
  border: 2px solid $white;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
  width: 0;
  height: 0;
}

.noUi-connect {
  background: $secondary-gradient;
}

.noUi-target {
  background: $white;
  border: 1px solid $dark25;
  border-radius: 3px;
  box-shadow: none;
}
