.form-elements {
  background-color: $bg-primary;

  &__logo {
    max-width: rem($desktop-large);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(67px) rem(30px);
  }

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: rem(320px) rem(126px) rem(320px) rem(72px) rem(320px);
    row-gap: rem(104px);

    @include container();
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__grid-item_column {

    &_1 {
      grid-column: 1;
    }

    &_2 {
      grid-column: 3;
    }

    &_2-3 {
      grid-column: 3/6;
    }

    &_3 {
      grid-column: 5;
    }
  }

  &__item {
    margin-bottom: rem(20px);

    &_margin_medium {
      margin-bottom: rem(30px);
    }

    &_margin_medium-large {
      margin-bottom: rem(36px);
    }

    &_margin_large {
      margin-bottom: rem(40px);
    }

    &_margin_larger {
      margin-bottom: rem(45px);
    }

    &_margin_largest {
      margin-bottom: rem(150px);
    }

    &_margin_extra-large {
      margin-bottom: rem(256px);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item {

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    &-info_margin_none {
      margin-bottom: 0;
    }

    &-info_margin_medium {
      margin-bottom: rem(10px);
    }

    &-info_margin_large {
      margin-bottom: rem(15px);
    }

    &-name {
      @include font-montserrat-h3();
    }

    &-state {
      @include font-montserrat-h3-light();
    }

    &-wrapper {
      display: flex;
      gap: 20px;
    }

    &_size_medium {
      max-width: rem(266px);
    }
  }

  &__fieldset {
    @include clear-fieldset;

    &-legend {
      @include font-montserrat-h3;
      margin: 0 0 rem(16px);
      padding: 0;
    }

    &-column {
      display: flex;
      flex-direction: column;
    }

    &-column_gap_small {
      gap: rem(10px);
    }

    &-column_gap_large {
      gap: rem(30px);
    }

    &-row {
      display: flex;
    }

    &-row_gap_small {
      gap: rem(10px);
    }

    &-row_gap_medium {
      gap: rem(20px);
    }
  }

  &__review {
    margin-top: rem(10px);
  }
}
