.colors-and-type {
  background-color: $white;

  &__logo {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__logo-icon {
    margin: 30px 0 67px 30px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    @include clear-ul-style();

    &-item {
      margin-bottom: 20px;
    }

    &-item:last-child {
      margin-bottom: 0;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    max-width: 444px;
    @include clear-ul-style();

    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 51px;

      &--style-h1 {
        @include font-montserrat(rem(24px), rem(29px), bold);
      }

      &--style-h2 {
        @include font-montserrat(rem(19px), rem(23px), bold);
      }

      &--style-h3 {
        @include font-montserrat(rem(12px), rem(15px), bold);
      }

      &--style-body {
        margin-bottom: 0;
        @include font-montserrat(rem(14px), rem(24px));
      }
    }

    &-tag {
      min-width: 37px;
      margin: 0 30px 0 0;
      color: $dark25;
      font-weight: normal;
      text-align: right;
    }

    &-text {
      margin: 0;
      color: $dark100;

      &--style-h3 {
        text-transform: uppercase;
      }

      &--style-body {
        color: $dark75;
      }
    }
  }
}
