.form-elements {
  background-color: $white;

  &__logo {
    max-width: rem(1440px);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(67px) rem(30px);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: rem(1158px);
    margin: 0 auto;
    flex-shrink: 0;
  }

  &__column {
    width: 100%;
    min-width: rem(320px);
    display: flex;
    flex-direction: column;
    margin-right: 126px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:nth-child(n + 4) {
      margin-bottom: rem(40px);
    }
  }

  &__item {
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    &-name {
      @include font-montserrat-h3();
    }

    &-state {
      @include font-montserrat-h3-light();
    }
  }

  &__fieldset {
    @include font-montserrat-h3;
    margin: 0;
    padding: 0;
    border: 0;

    &-legend {
      padding: 0;
      margin: 0 0 rem(16px);
    }

    .checkbox__label {
      margin-bottom: 10px;
    }

    &--row {
      display: flex;

      & > .input-radio-btn__label:first-of-type {
        margin-right: 20px;
      }
    }
  }
}
