.form-elements {
  background-color: $white;

  &__logo {
    max-width: rem(1440px);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(67px) rem(30px);
  }

  &__container {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    max-width: rem(1158px);
    margin: 0 auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: rem(320px);
    margin-right: rem(126px);

    &:last-child {
      margin-right: 0;
    }

    &--small-right-margin {
      margin-right: rem(72px);
    }
  }

  &__item {
    margin-bottom: rem(20px);

    &--large-margin {
      margin-bottom: rem(40px);
    }
    
    &--largest-margin {
      margin-bottom: rem(100px);
    }
  }

  &__item {
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &--large-margin {
        margin-bottom: 20px;
      }
    }

    &-name {
      @include font-montserrat-h3();
    }

    &-state {
      @include font-montserrat-h3-light();
    }

    &-wrapper {
      display: flex;

      & > .button-rate__fieldset:first-child {
        margin-right: rem(20px);
      }
    }

    &--size-medium {
      width: rem(266px);
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    @include font-montserrat-h3;

    &-legend {
      margin: 0 0 rem(16px);
      padding: 0;
    }

    & > .input-checkbox__label,
    & > .input-toggle__label {
      margin-bottom: rem(10px);
    }

    &--row {
      display: flex;

      & > .input-radio__label:not(:last-of-type) {
        margin-right: rem(20px);
      }

      & > .button-like:not(:last-of-type) {
        margin-right: rem(10px);
      }
    }
  }
}
