/* colors */
$dark100: #1f2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$purple50: rgba(188, 156, 255, 0.5);
$gray: #f4f4f6;
$white: #ffffff;
$black: #000000;

/* gradients */
$primary-gradient: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$primary-gradient--hover: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.5) 0%,
  rgba(139, 164, 249, 0.5) 100%
);
$secondary-gradient: linear-gradient(
  180deg,
  rgba(111, 207, 151, 1) 0%,
  rgba(102, 210, 234, 1) 100%
);
$secondary-gradient--hover: linear-gradient(
  180deg,
  rgba(111, 207, 151, 0.5) 0%,
  rgba(102, 210, 234, 0.5) 100%
);

/* backgrounds */
$main-bg-color: white;

/* media */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

$container-default: rem(1160px);
