$rem-baseline: 14px;

/* colors */
$dark100: #1f2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$gray: #f4f4f6;
$white: #ffffff;

/* gradients */
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

/* backgrounds */
$main-bg-color: white;

/* media */
$tablet: 768px;
$mobile: 320px;
