/* font colors */
$text-primary-pure-dark: black;
$text-primary-darkest: rgba(31, 33, 65, 1);
$text-primary-dark: rgba(31, 32, 65, .75);
$text-primary-medium: rgba(31, 32, 65, .5);
$text-primary-light: rgba(31, 32, 65, .25);

$text-secondary: #fff;

$text-tertiary: rgba(188, 156, 255, 1);
$text-tertiary-medium: rgba(188, 156, 255, .5);

/* borders */
$border-primary-medium: rgba(31, 32, 65, .5);
$border-primary-light: rgba(31, 32, 65, .25);
$border-primary-lighter: rgba(31, 32, 65, .1);

$border-secondary: white;

$border-tertiary: rgba(188, 156, 255, 1);

/* shadows */
$shadow-primary-medium-light: rgba(31, 32, 65, .3);
$shadow-primary-lighter: rgba(31, 32, 65, .1);
$shadow-primary-lightest: rgba(31, 32, 65, .05);

$shadow-slider: linear-gradient(
  90deg,
  rgba(0, 0, 0, .5) 0%,
  rgba(0, 0, 0, 0) 99.99%,
  rgba(255, 255, 255, 0) 100%
);

/* gradients */
$gradient-primary: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$gradient-primary-hover: linear-gradient(
  180deg,
  rgba(188, 156, 255, .5) 0%,
  rgba(139, 164, 249, .5) 100%
);
$gradient-secondary: linear-gradient(
  180deg,
  rgba(111, 207, 151, 1) 0%,
  rgba(102, 210, 234, 1) 100%
);
$gradient-secondary-hover: linear-gradient(
  180deg,
  rgba(111, 207, 151, .5) 0%,
  rgba(102, 210, 234, .5) 100%
);
$gradient-tertiary: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$gradient-quaternary: linear-gradient(180deg, #919191 0%, #3d4975 100%);

/* backgrounds */
$bg-primary: white;
$bg-secondary: rgba(31, 32, 65, .25);
$bg-tertiary: rgba(188, 156, 255, 1);
$bg-quaternary: rgb(244, 244, 246);

/* media */
$desktop-large: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 575px;
$mobile-s: 320px;

$container-default: 1160px;

/* z-indexes */
$z-index-header-logo: 10;
$z-index-burger-button: 10;
$z-index-burger-bg: 8;
$z-index-header-nav: 9;
$z-index-dropdown: 5;
