/* colors */
$dark100: #1f2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark10: rgba(31, 32, 65, 0.1);
$purple: #bc9cff;
$gray: #f4f4f6;

/* gradients */
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
