/* colors */
$dark100: #1f2041;
$dark75: rgba(31, 32, 65, .75);
$dark50: rgba(31, 32, 65, .5);
$dark30: rgba(31, 32, 65, .3);
$dark25: rgba(31, 32, 65, .25);
$dark10: rgba(31, 32, 65, .1);
$dark5: rgba(31, 32, 65, .05);
$purple: rgba(188, 156, 255, 1);
$purple50: rgba(188, 156, 255, .5);
$gray: #f4f4f6;
$white: #fff;
$black: #000;

/* gradients */
$primary-gradient: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$primary-gradient--hover: linear-gradient(
  180deg,
  rgba(188, 156, 255, .5) 0%,
  rgba(139, 164, 249, .5) 100%
);
$secondary-gradient: linear-gradient(
  180deg,
  rgba(111, 207, 151, 1) 0%,
  rgba(102, 210, 234, 1) 100%
);
$secondary-gradient--hover: linear-gradient(
  180deg,
  rgba(111, 207, 151, .5) 0%,
  rgba(102, 210, 234, .5) 100%
);

/* backgrounds */
$main-bg-color: white;

/* media */
$desktop: 1280px;
$tablet: 767px;
$mobile: 575px;
$mobile-s: 320px;

$container-default: 1160px;

/* z-indexes */
$z-index-header-logo: 10;
$z-index-burger-button: 10;
$z-index-burger-bg: 8;
$z-index-header-nav: 9;
