@mixin font-montserrat($font-size, $line-height, $font-weight: normal) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  line-height: $line-height;
}

@mixin clear-link-style {
  &,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}
