@import '~normalize-scss/sass/normalize';
@include normalize();
@import './_constants';
@import './_mixins';
@import './fonts/_fonts.scss';

/* pages */
@import './pages/headers-and-footers.scss';

/* all components auto import in index.js */

.container {
  max-width: 1160px;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
}
