@import './_constants';
@import './_mixins';
@import './fonts/_fonts.scss';

/* pages */
@import '@/pages/colors-and-type.scss';
@import '@/pages/headers-and-footers.scss';
@import '@/pages/form-elements.scss';

/* all components auto import in index.js */

html {
  //default font size = rem(14px) or 87.5%
  @include font-montserrat(87.5%, rem(29px));
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: rem(1160px);
  height: inherit;
  margin: 0 auto;
  padding: 0 rem(20px);

  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 10px;
  }
}

.mock-address {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__error-message {
    color: $dark100;
    @include font-montserrat(rem(60px), rem(60px));
  }
}
