@import './_constants';
@import './_mixins';
@import './fonts/_fonts.scss';

/* pages */
@import './pages/headers-and-footers.scss';

/* all components auto import in index.js */

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1160px;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 10px;
  }
}

.mock-address {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__error-message {
    color: $dark100;
    @include font-montserrat(60px, 60px);
  }
}
