.registration-page {
  display: flex;
  flex-direction: column;

  &__background {
    width: 100%;
    min-height: rem(684px);
    background: url('/assets/images/backgrounds/background-4.jpg') no-repeat;
    background-size: cover;
  }

  &__container {
    display: flex;
    justify-content: center;

    @include container;
  }

  &__sign-up {
    margin: rem(19px 0 0 5px);
  }
}
