.registration-page {
  display: flex;
  flex-direction: column;

  &__background {
    width: 100%;
    background: url('/public/images/backgrounds/background-4.jpg') no-repeat;
    background-size: cover;
  }

  &__container {
    display: flex;
    justify-content: center;

    @include container;
  }

  &__sign-up {
    padding: rem(17px 0);
  }
}
