/* montserrat-regular - latin_cyrillic */
@font-face {
  font-weight: 400;
  font-family: 'Montserrat';
  font-style: normal;
  src: local(''),
    url('./fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
    url('./fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff') format('woff'),
    url('./fonts/montserrat/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype');
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  src: local(''), url('./fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
    url('./fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff') format('woff'),
    url('./fonts/montserrat/montserrat-v15-latin_cyrillic-700.ttf') format('truetype');
}

/* material icons */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('./fonts/material-icons/material-icons.woff2') format('woff2');
}

.material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
