//- available properties:
  style: colored | gray;

mixin logo({ style })
  a.logo(href='/')
    case style
      when 'gray'
        img.logo__icon(alt='logo', src=require('/src/components/logo/icons/logo-icon-gray.svg'))
      when 'colored'
        img.logo__icon(alt='logo', src=require('/src/components/logo/icons/logo-icon.svg'))
        img.logo__icon-text(
          alt='logo-text',
          src=require('/src/components/logo/icons/logo-text.svg')
        )
