.logo {
  display: flex;
  align-items: center;
  width: max-content;

  &__icon {
    @media (max-width: $tablet) {
      transform: scale(.7);
    }

    &-text {
      margin-left: rem(12.5px);
    }
  }
}
