//- available properties:
  style: colored | gray;

mixin logo({style})
  h1.logo
    a.logo__link(href='/')
      case style
        when 'gray'
          .logo__icon
            include ./svg/logo-icon-gray.svg
        when 'colored'
          .logo__icon
            include ./svg/logo-icon.svg
          .logo__icon-text
            include ./svg/logo-text.svg
