h1(class='logo')
  a(class='logo__link' href="/") 
    img(class='logo__icon' src=`${require('../components/Logo/svg/logo-icon.svg')}`)
    img(class='logo__text' src=`${require('../components/Logo/svg/logo-text.svg')}`)