//- available properties:
  style: colored | gray;

mixin logo({ style })
  a.logo(href='/')
    case style
      when 'gray'
        img.logo__icon(src = require('/src/components/logo/icons/logo-icon-gray.svg') alt='logo')
      when 'colored'
        img.logo__icon(src = require('/src/components/logo/icons/logo-icon.svg') alt='logo')
        img.logo__icon-text(src = require('/src/components/logo/icons/logo-text.svg') alt='logo-text')