@import '../../styles/constants';
@import '../../styles/mixins';

.input-radio-btn {
  margin: 0;
  appearance: none;

  &__label {
    display: flex;
    @include font-montserrat-body;
    text-transform: none;
  }

  &__icon {
    margin-right: rem(10px);
    display: block;
    width: rem(18px);
    height: rem(18px);
    border: 1px solid $dark25;
    border-radius: 10px;
  }

  &:checked + &__icon {
    background-image: url('./svg/radio-check-mark.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    border: 1px solid $purple;
  }

  &:focus + &__icon {
    box-shadow: 0 0 0 2px $purple;
  }

  &:disabled + &__icon {
    border: 1px solid $dark25;
  }
}
