mixin input-radio-btn(properties)
  label.input-radio-btn__label
    input.input-radio-btn(
      type='radio',
      checked=properties.checked || false,
      value=properties.value || false,
      name=properties.name || false
    )
    span.input-radio-btn__icon
    = properties.text
