.checkbox-list {

  &__button {
    position: relative;
    width: 100%;
    padding: rem(15px) 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__name {
    margin: rem(0 0 17px 0);
    text-align: left;

    @include font-montserrat-h3();
  }

  &__button > &__name {
    margin: 2px 0 0;
  }

  &__icon {
    @include button-icon;

    @include button-arrow-icon;
  }

  &__items {
    display: none;

    @include fieldset;

    & > .input-checkbox__label {
      margin-bottom: rem(10px);
    }
  }

  &__items--expand {
    display: block;
  }
}
