.checkbox-list {
  @include clear-fieldset;

  &__button {
    position: relative;
    display: flex;
    width: 100%;
    padding: rem(17px 0);
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__legend {
    width: 100%;
    margin: rem(0 0 15px 0);
    padding: 0;

    &_expandable {
      margin: 0;
    }
  }

  &__legend,
  &__name {
    text-align: left;

    @include font-montserrat-h3();
  }

  &__icon_style_expand {
    @include icon-expand-more;
  }

  &__icon_style_expand-less {
    @include icon-expand-less;
  }

  &__items {
    display: none;

    @include clear-ul-style;
  }

  &_expanded {

    .checkbox-list__items {
      display: flex;
      flex-direction: column;
      gap: rem(10px);
    }
  }
}
