.checkbox-list {

  &__button {
    position: relative;
    display: flex;
    width: 100%;
    padding: rem(15px) 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__name {
    margin: rem(0 0 17px 0);
    text-align: left;

    @include font-montserrat-h3();
  }

  &__button &__name {
    margin: 2px 0 0;
  }

  &__icon_style_expand {
    @include icon-expand-more;
  }

  &__icon_style_expand-less {
    @include icon-expand-less;
  }

  &__items {
    display: none;

    @include fieldset;
  }

  &__items_expanded {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
  }
}
