extends /layouts/base.pug

block baseVariables
  - const title = "Toxin pages";
  - const bodyClass = "pages";

include /components/logo/logo.pug
include /components/link/link.pug

block content
  .pages__container
    .pages__logo
      .pages__logo-icon
        +logo({ style:'colored' })
    -
      const citePages = [
        {
          url: 'landing-page.html',
          text: 'Landing page',
        },
        {
          url: 'search-room.html',
          text: 'Search room',
        },
        {
          url: 'room-details.html',
          text: 'Room details',
        },
        {
          url: 'sign-in.html',
          text: 'Sign-in',
        },
        {
          url: 'registration.html',
          text: 'Registration',
        },
        {
          url: 'colors-and-type.html',
          text: 'Colors and type',
        },
        {
          url: 'cards.html',
          text: 'Cards',
        },
        {
          url: 'form-elements.html',
          text: 'Form elements',
        },
        {
          url: 'headers-and-footers.html',
          text: 'Headers and footers',
        },
      ]

    ul.pages__list
      each item in citePages
        +link({ url: item.url, text: item.text, fontSize: 'big' })
