.pages {
  display: flex;
  flex-direction: column;
  margin-top: rem(30px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include container;
  }

  &__logo {
    margin-bottom: rem(20px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    color: $dark50;

    @include clear-ul-style();
    @include font-montserrat(rem(28px), rem(28px));
  }

  &__link {
    @include clear-link-style();

    &:hover {
      color: $dark75;
    }
  }
}
