.chart-plugin {

  &__heading {
    margin-bottom: rem(25px);

    @include font-montserrat-h2;
  }

  &__container {
    max-width: rem(120px);
    max-height: rem(120px);
    margin-right: rem(30px);
  }

  &__wrapper {
    display: flex;
  }

  &__legend-items {
    align-self: flex-end;

    @include clear-ul-style;
  }

  &__item {
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      width: rem(10px);
      height: rem(10px);
      border-radius: 50%;
      content: '';
    }

    &_style_great::before {
      background: $gradient-tertiary;
    }

    &_style_good::before {
      background: $gradient-secondary;
    }

    &_style_passably::before {
      background: $gradient-primary;
    }

    &_style_disappointed::before {
      background: $gradient-quaternary;
    }
  }

  &__item-text {
    margin-left: rem(15px);
  }
}
