.input-checkbox {
  margin: 0;
  appearance: none;

  &__label {
    display: flex;
    align-items: flex-start;
    color: $text-primary-medium;
    white-space: pre-line;
    text-transform: none;
    cursor: pointer;

    @include font-montserrat(rem(14px), rem(18px));
  }

  &__icon {
    display: block;
    min-width: rem(18px);
    min-height: rem(18px);
    margin-right: rem(10px);
    border: 1px solid $border-primary-light;
    border-radius: rem(4px);
  }

  &:checked + &__icon {
    background-image: url('./svg/check-mark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem(10px);
    border: 1px solid $border-tertiary;
  }

  &:focus-visible + &__icon {
    outline: 2px solid $border-tertiary;
  }

  &:disabled + &__icon {
    border: 1px solid $border-primary-light;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 5px;
    color: $text-primary-dark;
    font-weight: bold;

    @include font-montserrat(rem(14px), rem(18px), bold);
  }

  &__info {
    @include font-montserrat(rem(12px), rem(14px));
  }
}
