.input-checkbox {
  display: flex;
  align-items: flex-start;
  max-width: max-content;
  cursor: pointer;

  &__input {
    margin: 0;
    appearance: none;

    &-icon {
      display: block;
      min-width: rem(20px);
      min-height: rem(20px);
      margin-right: rem(10px);
      border: 1px solid $border-primary-light;
      border-radius: rem(4px);
    }

    &:checked + &-icon {
      background-image: url('./svg/check-mark.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(10px);
      border: 1px solid $border-tertiary;
    }

    &:focus-visible + &-icon {
      outline: 2px solid $border-tertiary;
    }

    &:disabled + &-icon {
      border: 1px solid $border-primary-light;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: max-content;
  }

  &__text {
    color: $text-primary-medium;

    @include font-montserrat(rem(14px), rem(20px));
  }

  &__heading {
    margin-bottom: rem(5px);
    color: $text-primary-dark;
    font-weight: bold;

    @include font-montserrat(rem(14px), rem(18px), bold);
  }

  &__info {
    color: $text-primary-medium;

    @include font-montserrat(rem(12px), rem(14px));
  }
}
