//- available properties:
  checked: boolean;
  text: string;
  info: string;

mixin input-checkbox({ text, info, checked = false })
  label.input-checkbox
    input.input-checkbox__input(type='checkbox', checked=checked)
    span.input-checkbox__input-icon
    if info
      span.input-checkbox__text-wrapper
        span.input-checkbox__heading!= text
        span.input-checkbox__info!= info
    else
      span.input-checkbox__text!= text
