.flatpickr-calendar {
  width: rem(320px);
  padding: rem(20px);
  background: $bg-primary;
  border: 1px solid $border-primary-light;

  @include font-montserrat-body;
}

.flatpickr-current-month {
  display: flex;
  justify-content: center;
  margin-left: rem(10px);
  padding: 0;
}

.flatpickr-current-month span.cur-month:hover {
  background: transparent;
}

.flatpickr-current-month input.cur-year {
  @include font-montserrat(rem(19px), rem(20px), bold);
}

.numInputWrapper:hover {
  background: transparent;
}

.flatpickr-day {
  width: rem(40px);
  max-width: rem(40px);
  height: rem(40px);
  margin: 0;
  color: $text-primary-medium;
  border: 0;

  @include font-montserrat(rem(12px), rem(40px), normal);

  &:hover {
    color: $text-secondary;
    font-weight: bold;
    background: $gradient-primary;
  }
}

.rangeMode .flatpickr-day {
  margin: 0;
}

.flatpickr-day.today {
  color: $text-secondary;
  font-weight: bold;
  background: $gradient-secondary;
  border: 0;
  border-radius: 50%;

  &:hover {
    background: $gradient-secondary-hover;
  }
}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.prevMonthDay.inRange {
  background: $bg-tertiary-light;
}

.flatpickr-day.inRange {
  box-shadow: none;

  &:hover {
    background: $gradient-primary;
    border-radius: 50%;

    &::before {
      position: absolute;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      color: $text-secondary;
      background: $bg-tertiary-light;
      content: '';
    }
  }
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay.flatpickr-disabled {
  color: $text-primary-light;

  @include font-montserrat(rem(12px), rem(40px), normal);
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay,
.flatpickr-day.selected.nextMonthDay {

  &:hover {
    color: $text-secondary;
    font-weight: bold;
    background: $gradient-primary;
  }
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  color: $text-primary-medium;
  font-weight: normal;
  background: transparent;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.selected.endRange {
  color: $text-secondary;
  font-weight: bold;
  background: $gradient-primary;
  border: 0;
  border-radius: 50%;

  &::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: rem(20px);
    height: 100%;
    color: $text-secondary;
    background: $bg-tertiary-light;
    content: '';
  }

  &:hover {
    background: $gradient-primary;
  }
}

.flatpickr-day.startRange,
.flatpickr-day.selected.startRange {

  &::before {
    right: 0;
  }
}

.flatpickr-day.endRange,
.flatpickr-day.selected.endRange {

  &:hover::before {
    border-radius: 0;
  }

  &::before {
    left: 0;
  }
}

.flatpickr-days {
  border: 0;

  & > .dayContainer {
    width: rem(280px);
    min-width: rem(280px);
    max-width: rem(280px);
    padding: 0 2px;
  }
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  top: rem(10px);
  left: rem(10px);

  &::before {
    color: $text-tertiary;

    @include font-material-icons('arrow_back', rem(24px), rem(20px));
  }

  &:hover::before {
    color: $text-tertiary-medium;
  }
}

.flatpickr-months .flatpickr-month,
.flatpickr-weekdays,
.flatpickr-weekdaycontainer .flatpickr-weekday {
  background: $bg-primary;
}

.flatpickr-weekdays {
  margin-bottom: rem(8px);
}

.flatpickr-rContainer {
  width: 100%;
}

.flatpickr-months {
  margin-bottom: rem(25px);
}

.flatpickr-weekdaycontainer .flatpickr-weekday {
  color: $text-tertiary;

  @include font-montserrat(rem(12px), rem(15px), bold);
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  top: rem(10px);
  right: rem(10px);

  &::before {
    color: $text-tertiary;

    @include font-material-icons('arrow_forward', rem(24px), rem(20px));
  }

  &:hover::before {
    color: $text-tertiary-medium;
  }
}

.flatpickr-innerContainer {
  margin-bottom: rem(17px);
  border: 0;
}

.flatpickr__buttons {
  display: flex;
  justify-content: space-between;
  background: $bg-primary;
  border: 0;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: none;
}

.flatpickr-day_hidden {
  display: none;
}

.flatpickr-wrapper {
  width: 100%;
}
