.colors-and-type {
  background-color: $white;

  &__logo {
    max-width: rem(1440px);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(67px) rem(30px);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: rem(1140px);
    margin: 0 auto;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    @include clear-ul-style();

    &-item {
      margin-bottom: rem(20px);
    }

    &-item:last-child {
      margin-bottom: 0;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    max-width: rem(444px);
    @include clear-ul-style();

    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: rem(51px);
    }

    &-item--style-h1 {
      @include font-montserrat(rem(24px), rem(29px), bold);
    }

    &-item--style-h2 {
      @include font-montserrat(rem(19px), rem(23px), bold);
    }

    &-item--style-h3 {
      @include font-montserrat(rem(12px), rem(15px), bold);
    }

    &-item--style-body {
      margin-bottom: 0;
      @include font-montserrat(rem(14px), rem(24px));
    }

    &-tag {
      min-width: rem(37px);
      margin: 0 rem(30px) 0 0;
      color: $dark25;
      font-weight: normal;
      text-align: right;
    }

    &-text {
      margin: 0;
      color: $dark100;
    }

    &-text--style-h3 {
      text-transform: uppercase;
    }

    &-text--style-body {
      color: $dark75;
    }
  }
}
