extends /layouts/base.pug

include /pug-mixins/Logo/Logo.pug

block baseVariables
  - const title = "Headers and footers";
  - const bodyClass = "headers-and-footers";
  - let isGray;
  - let isLogged;

block content
  .headers-and-footers__logo
    .headers-and-footers__logo-icon
      +logo({style:'gray'})
  .headers-and-footers__header-first
    - isLogged = false;
    include /pug-components/Header/Header.pug
  .headers-and-footers__header-second
    - isLogged = true;
    include /pug-components/Header/Header.pug
  .headers-and-footers__footer
    include /pug-components/Footer/Footer.pug
  .headers-and-footers__footer-creative
    include /pug-components/Footer/Footer.pug
