extends /layouts/base.pug
block baseVariables
  - var title = "Headers and footers";
  - var bodyClass = 'headers-and-footers';

block content
  .headers-and-footers__logo
    .headers-and-footers__logo-icon
      - var isGray = true;
      include /pug-components/Logo/Logo.pug
      - var isGray = false;
  .headers-and-footers__header-first
    - var isLogged = false;
    include /pug-components/Header/Header.pug
  .headers-and-footers__header-second
    - var isLogged = true;
    include /pug-components/Header/Header.pug
  .headers-and-footers__footer
    include /pug-components/Footer/Footer.pug
  .headers-and-footers__footer-creative
    include /pug-components/Footer/Footer.pug
