extends ../layouts/base.pug
block baseVariables
  - var title = "Mock address";
block content
  .mock-address
    p.mock-address__error-message= 'OOPS this link are mock. Don\'t forget to change it!'
