.headers-and-footers {
  background: $bg-quaternary;

  &__logo {
    max-width: rem($desktop-large);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(62px) rem(30px);
  }

  &__header-first,
  &__header-second,
  &__footer {
    margin-bottom: rem(40px);
  }
}
