.headers-and-footers {
  background: $bg-quaternary;

  &__logo {
    max-width: rem($desktop-large);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(62px) rem(30px);
  }

  &__header-first,
  &__header-second,
  &__footer {
    margin-bottom: rem(40px);
    box-shadow: 0 rem(10px) rem(20px) $shadow-primary-lightest;
  }

  &__footer-creative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: rem(120px 0);

    &-wrapper {
      display: flex;
      justify-content: center;
      width: $tablet;
      margin: 0 auto;
      margin-bottom: rem(140px);
      background: $bg-primary;
      box-shadow: 0 rem(10px) rem(20px) $shadow-primary-lightest;
    }

    &__copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__copyright-logo {
      display: block;
      margin-bottom: rem(25px);
    }

    &__copyright-text {
      margin-bottom: rem(25px);
    }
  }
}
