.sign-up {
  @include form;

  &__name {
    margin-bottom: rem(10px);
  }

  &__surname {
    margin-bottom: rem(10px);
  }

  &__gender {
    margin-bottom: rem(20px);

    &-fieldset {
      display: flex;
      gap: rem(20px);

      @include fieldset;
    }
  }

  &__birth-date {
    margin-bottom: rem(20px);

    &-fieldset {
      @include fieldset;
    }

    &-legend {
      margin-bottom: rem(5px);
    }
  }

  &__entry-data {
    margin-bottom: rem(20px);

    &-fieldset {
      display: flex;
      flex-direction: column;
      gap: rem(10px);

      @include fieldset;
    }

    &-legend {
      margin-bottom: rem(5px);
    }
  }

  &__button-payment {
    margin-bottom: rem(30px);
  }

  &__sign-in {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      margin: 0;
      color: $black;
    }
  }
}
