//- available properties:
  button-text: string;

include /components/input/input.pug
include /components/input-radio/input-radio.pug
include /components/input-toggle/input-toggle.pug
include /components/button/button.pug

mixin sign-up({ buttonText = 'зарегистрироваться' })
  -
    const buttonPaymentProps = {
      type: 'submit',
      width:'full',
      style: 'filled',
      withArrow: true,
      text: buttonText
    }

    const buttonSignInProps = {
      width: 'small',
      text: 'войти',
      href: '/sign-in.html'
    }

  form.sign-up(name='signUp')
    h2.sign-up__heading= 'Регистрация аккаунта'

    .sign-up__name
      +input({ placeholder: 'Имя', name: 'name' })

    .sign-up__surname
      +input({ placeholder: 'Фамилия', name: 'surname' })

    .sign-up__gender
      fieldset.sign-up__gender-fieldset(name='genderSelect')
        +input-radio({ checked: true, name : 'gender', value: 'male', text: 'Мужчина' })
        +input-radio({ name : 'gender', value: 'female', text: 'Женщина' })

    .sign-up__birth-date
      fieldset.sign-up__birth-date-fieldset
        legend.sign-up__birth-date-legend= 'дата рождения'
        +input({ type: 'text', name:'birthDate', placeholder: 'ДД.ММ.ГГГГ', size: 'large', mask: 'date' })

    .sign-up__entry-data
      fieldset.sign-up__entry-data-fieldset(name='entryData')
        legend.sign-up__entry-data-legend= 'данные для входа в сервис'
        +input({ type: 'email', name: 'email', placeholder: 'Email', size: 'large' }) 
        +input({ type: 'password', name: 'password', placeholder: 'Пароль', size: 'large' })
        +input-toggle({ text: 'Получать спецпредложения', name: 'subscribe' })

    .sign-up__button-payment
      +button(buttonPaymentProps)

    .sign-up__sign-in
      p.sign-up__sign-in-text= 'Уже есть аккаунт на Toxin'
      +button(buttonSignInProps)
