@import '../../styles/constants';
@import '../../styles/mixins';

.input {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  color: $dark25;
  background: $white;
  border: 1px solid $dark25;
  border-radius: 4px;
  @include font-montserrat-body();

  &__wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;

    &::after {
      color: $purple;
      font-size: 24px;
      font-family: 'Material Icons';
      line-height: 24px;
      vertical-align: middle;
      content: 'arrow_forward';
    }
  }

  &--size-small{
    max-width: rem(260px);
  }

  &--size-medium{
    max-width: rem(360px);
  }


}
