//- available properties: type, placeholder, arrow, size= small, medium 

mixin input(properties)
  - var modifierTemplate = "input--";
  - var styles = ["input"];
  - if(properties.size) styles.push(modifierTemplate + 'size-' + properties.size);

  .input__wrapper
    input(
      class=`${styles.join(" ")}`,
      type=`${properties.type}`,
      placeholder=`${properties.placeholder || ""}`
    )
    if properties.arrow
      span.input__icon
