@import '../../styles/constants';
@import '../../styles/mixins';

.input {
  width: 100%;
  @include font-montserrat(14px, 24px);
  color: $dark25;
  background: $white;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 auto;

  &__wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 10px;

    &::after {
      content: 'arrow_forward';
      font-family: 'Material Icons';
      vertical-align: middle;
      font-size: 24px;
      line-height: 24px;
      color: $purple;
    }
  }
}
