@import '../../styles/_constants.scss';
@import '../../styles/_mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &__right-col {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__vertical-line {
    &:after {
      content: '|';
      width: 1px;
      height: 30px;
      color: $dark10;
    }
  }

  &__username {
    @include font-montserrat(14px, 17px);
    color: $dark50;
    cursor: pointer;
  }
}
