include /components/logo/logo.pug
include /components/header-nav/header-nav.pug
include /components/button/button.pug

mixin header({isLogged=false})
  header.header
    .header__container
      .header__left-col
        +logo({style:'colored'})
      button.header__burger
        .header__burger-line.header__burger-line-1
        .header__burger-line.header__burger-line-2
        .header__burger-line.header__burger-line-3
      .header__right-col
        +header-nav

        if isLogged
          .header__vertical-line
          .header__username= "Юлий Цезарь"
        else
          +button({size:'small', href:'/sign-in.html', text:'войти'})
          +button({size:'small', href:'/registration.html', text:'зарегистрироваться', style:'filled'})
