.header {
  position: relative;
  z-index: $z-index-header;
  display: flex;
  width: 100%;
  max-height: rem(70px);
  background-color: $bg-primary;
  box-shadow: 0px 10px 20px $shadow-primary-lightest;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(70px);

    @include container;
  }

  &__left-col {
    margin: 0;

    @media (max-width: $tablet) {
      z-index: $z-index-header-logo;
    }
  }

  &__right-col {
    position: relative;
    display: flex;
    gap: rem(20px);
    align-items: center;

    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding: rem(70px 10px 0);
      background: $bg-primary;
      transform: translateX(-1000px);
      opacity: 0;
      transition: transform .75s ease, opacity .75s ease;
    }
  }

  &__nav-list {
    display: grid;
    grid-auto-flow: column;
    gap: rem(20px);
    align-items: center;

    @include clear-ul-style;

    @media (max-width: $tablet) {
      grid-auto-flow: row;
      gap: 0;
      margin-top: rem(20px);
    }
  }

  &__nav-item {
    width: 100%;

    @media (max-width: $tablet) {
      padding: rem(20px);
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 70px;
    z-index: $z-index-burger-button;
  }

  &.header__burger_open &__left-col {
    position: fixed;
  }

  &.header__burger_open &__right-col {
    z-index: $z-index-header-nav;
    transform: translateX(0px);
    opacity: 1;
  }

  &__vertical-line {
    width: 1px;
    height: rem(30px);
    border-right: 1px solid $border-primary-lighter;
  }

  &__username {
    margin: 0;
    color: $text-primary-medium;
    cursor: pointer;

    @include font-montserrat(rem(14px), rem(17px));
  }
}
