.header {
  display: flex;
  width: 100%;
  max-height: rem(70px);
  background-color: $main-bg-color;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;
  }

  &__left-col {
    margin: 0;

    @media (max-width: $tablet) {
      z-index: $z-index-header-logo;
    }
  }

  &__right-col {
    position: relative;
    display: flex;
    gap: rem(20px);
    align-items: center;

    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding: rem(70px 10px 0);
      background: $white;
      transform: translateX(-1000px);
      opacity: 0;
      transition: transform .75s ease, opacity .75s ease;
    }
  }

  &__burger {
    position: absolute;
    right: 0;
    z-index: $z-index-burger-button;
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: rem(20px);
    background: transparent;
    border: 0;
    cursor: pointer;

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  &__burger-line {
    width: rem(35px);
    height: 2px;
    background: $purple;
    transition: transform .75s ease, opacity .75s ease;
  }

  .header__burger-line-1 {
    transform: rotate(0);
    transform-origin: top left;
  }

  .header__burger-line-2 {
    opacity: 1;
  }

  .header__burger-line-3 {
    transform: rotate(0);
    transform-origin: bottom left;
  }

  &__burger.header__burger--open {
    position: fixed;

    .header__burger-line-1 {
      transform: rotate(45deg);
      transform-origin: top left;
    }

    .header__burger-line-2 {
      opacity: 0;
    }

    .header__burger-line-3 {
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }

  &.header__burger--open &__left-col {
    position: fixed;
  }

  &.header__burger--open &__right-col {
    z-index: $z-index-header-nav;
    transform: translateX(0px);
    opacity: 1;
  }

  &__vertical-line {

    &::after {
      width: 1px;
      height: rem(30px);
      color: $dark10;
      content: '|';
    }
  }

  &__username {
    color: $dark50;
    cursor: pointer;

    @include font-montserrat(rem(14px), rem(17px));
  }
}
