@import '../../styles/_constants.scss';
@import '../../styles/_mixins.scss';

.header {
  display: flex;
  min-height: rem(70px);
  background-color: $main-bg-color;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right-col {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: rem(20px);
    }
  }

  &__vertical-line {
    &:after {
      width: 1px;
      height: 30px;
      color: $dark10;
      content: '|';
    }
  }

  &__username {
    color: $dark50;
    cursor: pointer;
    @include font-montserrat(rem(14px), rem(17px));
  }
}
