.checkbox-list {
  &__button {
    position: relative;
    width: 100%;
    margin: 0 0 rem(5px);
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__name {
    text-align: left;
    @include font-montserrat-h3();
  }

  &__icon {
    @include button-icon;
    @include button-arrow-icon;
  }

  &__items {
    display: none;
    @include fieldset;

    & > .input-checkbox__label {
      margin-bottom: rem(10px);
    }
  }

  &__items--expand {
    display: block;
  }
}
