//- available properties:
  name: string;
  expanded: boolean;
  items: [{name: string, checked: boolean}];

mixin checkbox-list(properties)
  include /pug-mixins/Input-checkbox/Input-checkbox.pug
  - const expandModifier = 'checkbox-list__items--expand';
  - const rotateModifier = 'checkbox-list__icon--rotate';
  - const itemsStyles = ['checkbox-list__items'];
  - const iconStyles = ['checkbox-list__icon'];

  -
    if (properties.expanded) {
      itemsStyles.push(expandModifier);
      iconStyles.push(rotateModifier);
    }

  .checkbox-list
    button.checkbox-list__button
      h3.checkbox-list__name=properties.name
      span(class=iconStyles.join(' '))
    fieldset(class=itemsStyles.join(' '))
      each item in properties.items
        +input-checkbox(item)
  