//- available properties:
  checked: boolean;
  name: string;
  text: string

mixin input-toggle({ text, name, checked = false })
  label.input-toggle
    input.input-toggle__input(checked=checked, name=name, type='checkbox')
    span.input-toggle__input-icon
    = text
