//- available properties:
  checked: boolean;
  text: string

mixin input-toggle({ text, checked = false })
  label.input-toggle
    input.input-toggle__input(type='checkbox', checked=checked)
    span.input-toggle__input-icon
    = text
