.bullet-list {

  &__heading {
    margin: rem(0 0 20px 20px);

    @include font-montserrat-h2();
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    @include clear-ul-style;
  }

  &__item {
    display: flex;
    align-items: baseline;
    white-space: pre-line;

    &-text {
      margin: 0;
      padding: 0;
    }

    &::before {
      display: inline-block;
      width: rem(10px);
      min-width: rem(10px);
      height: rem(10px);
      margin-right: rem(10px);
      background: $bg-secondary;
      border-radius: 50%;
      content: '';
    }
  }
}
