//- available properties:
  heading: string;
  items: string[];

mixin bullet-list({heading, items})
  .bullet-list
    .bullet-list__heading= heading
    ul.bullet-list__items
      each item in items
        li.bullet-list__item
          p.bullet-list__item-text= item
