//- available properties:
  name: string;
  items: string[];

mixin bullet-list({name, items})
  .bullet-list
    .bullet-list__name= name
    ul.bullet-list__items
      each item in items
        li.bullet-list__item
          p.bullet-list__item-text= item
