include /components/room-card/room-card.pug
include /components/pagination/pagination.pug

mixin room-cards-list
  .room-cards-list
    h2.room-cards-list__heading= "Номера, которые мы для вас подобрали"
    .room-cards-list__items
      -
        const roomCardsList = [
          {
            sliderContent: require('/public/images/rooms/room888.jpg'),
            number: 888,
            price: 9990,
            type: 'люкс',
            score: 5,
            reviewsNumber: 145,
          },
          {
            sliderContent: require('/public/images/rooms/room840.jpg'),
            number: 840,
            price: 9990,
            score: 4,
            reviewsNumber: 65,
          },
          {
            sliderContent: require('/public/images/rooms/room980.jpg'),
            number: 980,
            price: 8500,
            type: 'люкс',
            score: 3,
            reviewsNumber: 35,
          },
          {
            sliderContent: require('/public/images/rooms/room856.jpg'),
            number: 856,
            price: 7300,
            score: 5,
            reviewsNumber: 19,
          },
          {
            sliderContent: require('/public/images/rooms/room740.jpg'),
            number: 740,
            price: 6000,
            score: 4,
            reviewsNumber: 44,
          },
          {
            sliderContent: require('/public/images/rooms/room982.jpg'),
            number: 982,
            price: 5800,
            score: 3,
            reviewsNumber: 56, 
          },
          {
            sliderContent: require('/public/images/rooms/room678.jpg'),
            number: 678,
            price: 5500,
            score: 5,
            reviewsNumber: 45,
          },
          {
            sliderContent: require('/public/images/rooms/room450.jpg'),
            number: 450,
            price: 5300,
            score: 4,
            reviewsNumber: 39,
          },
          {
            sliderContent: require('/public/images/rooms/room350.jpg'),
            number: 350,
            price: 5000,
            score: 3,
            reviewsNumber: 77,
          },
          {
            sliderContent: require('/public/images/rooms/room666.jpg'),
            number: 666,
            price: 5000,
            score: 5,
            reviewsNumber: 25,
          },
          {
            sliderContent: require('/public/images/rooms/room444.jpg'),
            number: 444,
            price: 5000,
            score: 3,
            reviewsNumber: 15,
          },
          {
            sliderContent: require('/public/images/rooms/room352.jpg'),
            number: 352,
            price: 5000,
            score: 3,
            reviewsNumber: 55,
          },
        ]

      each item in roomCardsList
        +room-card(item)
    .room-cards-list__controls
      +pagination({currentPage:1, pagesCount:15, itemsPerPage:12})
