.room-cards-list {
  width: 100%;

  &__heading {
    margin: rem(0 0 20px);

    @include font-montserrat-h1;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(270px), 1fr));
    gap: rem(19px 12px);
    margin-bottom: rem(35px);

    @media (max-width: $tablet) {
      justify-items: center;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-right: rem(15px);
  }
}
