.colors-and-type {
  background-color: $bg-primary;

  &__logo {
    max-width: rem(1440px);
    margin: 0 auto;
  }

  &__logo-icon {
    margin: rem(30px) 0 rem(67px) rem(30px);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include container(rem(1140px));
  }

  &__colors {
    display: flex;
    flex-direction: column;

    @include clear-ul-style();

    &-item {
      margin-bottom: rem(20px);
    }

    &-item:last-child {
      margin-bottom: 0;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    max-width: rem(444px);

    @include clear-ul-style();

    &-item {
      margin-bottom: rem(51px);
    }
  }
}
