@import '../../styles/_constants.scss';
@import '../../styles/_mixins.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-bg-color;

  &__widgets {
    width: 100%;
    min-height: 372px;
    box-shadow: 0px 1px 0px $dark10;
  }

  &__widgets > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: $dark75;
    @include font-montserrat(14px, 24px);
  }

  &__item-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item-heading {
    margin-bottom: 21px;
    color: $dark100;
    text-transform: uppercase;
    @include font-montserrat(12px, 15px, bold);
  }

  &__item {
    color: $dark50;
    @include font-montserrat(14px, 17px);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item-link {
    @include clear-link-style;
  }

  &__copyright {
    width: 100%;
  }

  &__copyright > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
