.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  background-color: $bg-primary;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: rem(120px 0);
    box-shadow: 0 10px 20px $shadow-primary-lightest;
  }

  &__container {
    @include container;

    @media (max-width: $tablet) {
      box-sizing: border-box;
    }
  }

  &__widgets {
    width: 100%;
    min-height: rem(372px);
    box-shadow: 0 1px 0 $shadow-primary-lighter;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 22.41% 13.79% 13.79% 13.79% 22.41%;
    margin-top: rem(100px);
    column-gap: 3.45%;
  }

  &__grid-column {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: rem(20px);
  }

  &__text {
    margin: 0;
    color: $text-primary-dark;

    @include font-montserrat(rem(14px), rem(24px));
  }

  &__item-heading {
    margin: 4px 0 rem(21px);
    color: $text-primary-darkest;
    text-transform: uppercase;

    @include font-montserrat(rem(12px), rem(15px), bold);
  }

  &__input-email {
    margin-top: rem(20px);
  }

  &__copyright {
    width: 100%;
  }

  &__copyright-logo {
    display: none;

    @media (max-width: $tablet) {
      display: block;
      margin-bottom: rem(25px);
    }
  }

  &__copyright-text {
    @media (max-width: $tablet) {
      margin-bottom: rem(25px);
    }
  }

  &__copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(70px);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
}
