.socials {
  display: flex;
  gap: 20px;

  @include clear-ul-style;

  &__item-link {
    display: flex;
    align-items: flex-end;
    width: 24px;
    height: 24px;

    &:hover {
      opacity: .5;
    }
  }
}
