@import '../../styles/_mixins.scss';

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  @include clear-ul-style;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
