mixin socials
  ul.socials
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        include ./icons/twitter.svg
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        include ./icons/facebook.svg
    li.socials__item
      a.socials__item-link(href='/mock-address.html') 
        include ./icons/instagram.svg
