//- available properties:
  dateRange: boolean;
  dateRangeValue: string;
  arrivalValue: string;
  departureValue: string;

include /pug-mixins/Input/Input.pug

mixin date-dropdown(properties)
  if properties && properties.dateFilter
    .date-dropdown
      .date-dropdown__input-filter
        p.date-dropdown__label= properties.filterDateLabel || false
        +input({type:'text', placeholder:'ДД.ММ.ГГГГ', size: properties.size, dropdown:true, readonly:true, value:properties.filterDateValue}).js-date-dropdown
  else
    .date-dropdown
      .date-dropdown__input
        p.date-dropdown__label= properties.arrivalLabel || false
        +input({type:'text', placeholder:'ДД.ММ.ГГГГ', size:'small', dropdown:true, readonly:true, value:properties.arrivalValue}).js-date-dropdown-arrival
      .date-dropdown__input
        p.date-dropdown__label= properties.departureLabel || false
        +input({type:'text', placeholder:'ДД.ММ.ГГГГ', size:'small', dropdown:true, readonly:true, value:properties.departureValue}).js-date-dropdown-departure
