//- available properties:
  likesNumber: number;
  disabled: boolean;

mixin button-like({ disabled = false, likesNumber })
  button.button-like(disabled=disabled)&attributes(attributes)
    span.button-like__icon
    span.button-like__likes-number= likesNumber
