//- available properties:
  text: string;
  name: string;
  checked: boolean;
  value: string;



mixin input-radio({ text, name, checked = false, value = false, })
  label.input-radio
    input.input-radio__input(checked=checked, name=name, type='radio', value=value)
    span.input-radio__input-icon
    span.input-radio__input-label-text= text
