//- available properties:
  checked: boolean;
  value: string;
  name: string;
  text: string

mixin input-radio({ text, checked = false, value = false, name = false })
  label.input-radio
    input.input-radio__input(type='radio', checked=checked, value=value, name=name)
    span.input-radio__input-icon
    span.input-radio__input-label-text= text
