//- available properties:
  text: string;
  name: string;
  checked: boolean;
  value: string;



mixin input-radio({ text, name, checked = false, value = false, })
  label.input-radio
    input.input-radio__input(type='radio', checked=checked, value=value, name=name)
    span.input-radio__input-icon
    span.input-radio__input-label-text= text
