//- available properties:
  itemList:{
    heading: string,
    items: {link: string, text: string}[]
  }
include /components/link/link.pug

mixin footer-item-list({ heading, items })
  section.footer-item-list
    h3.footer-item-list__heading #{ heading }
    ul.footer-item-list__items
      each item in items
        li.footer-item-list__item
          +link({ url: item.link, text: item.text })
