.footer-item-list {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  line-height: rem(18px);

  @include clear-ul-style;

  &__heading {
    margin: 4px 0 rem(21px);
    color: $text-primary-darkest;
    text-transform: uppercase;

    @include font-montserrat(rem(12px), rem(15px), bold);
  }
}
