.room-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(440px);
  height: 100%;
  background: $bg-primary;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $shadow-primary-lightest;

  &__slider {
    min-height: rem(153px);
    border-radius: 4px;
  }

  &__content {
    padding: rem(20px);
  }

  &__room-link {
    display: block;
    @include clear-link-style;

    &:focus-visible {
      outline: 2px solid $border-tertiary;
      outline-offset: 4px;
    }
  }

  &__room-info {
    margin: rem(0 0 10px 0);
  }

  &__delimiter {
    border: 1px solid $border-primary-lighter;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
  }

  &__reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    white-space: pre;
  }

  &__reviews-number {
    color: $text-primary-medium;

    @include font-montserrat(rem(14px), rem(18px), bold);
  }

  &__reviews-text {
    color: $text-primary-medium;

    @include font-montserrat(rem(14px), rem(18px));
  }
}
