extends /layouts/base.pug

include /components/logo/logo.pug
include /components/find-rooms/find-rooms.pug
include /components/sign-up/sign-up.pug
include /components/book-room/book-room.pug
include /components/sign-in/sign-in.pug
include /components/room-card/room-card.pug

block baseVariables
  - const title = "Cards";
  - const bodyClass = "cards";

block content
  .cards__logo
    .cards__logo-icon 
      +logo({style:'gray'})

  .cards__container
    .cards__column 
      +find-rooms
      +sign-up({buttonText: 'перейти к оплате'})

    .cards__column
      -
        const bookRoomProps = {
          roomInfo: {
            number: 888,
            price: 9990,
            type: 'люкс'
          },
          priceList: [{
            name: "9 990₽ х 4 суток",
            price: "39 960₽",
            about: false,
            },
            {
              name: "Сбор за услуги: скидка 2 179₽",
              total: "0₽",
              about: true,
            },
            {
              name: `Сбор за дополнительные <br> услуги`,
              total: "300₽",
              about: true,
            }
          ],
          totalSum: "38 081₽"
        }
      +book-room(bookRoomProps)
      +sign-in

    .cards__column
      .cards__calendar-wrapper
        .cards__calendar.js-cards__calendar
      .cards__room-card
        -
          const roomCard888Props = {
            sliderContent: require('/src/assets/images/rooms/room-888.jpg'),
            number: 888,
            price: 9990,
            type: 'люкс',
            score: 5,
            reviewsNumber: 145
          }
        +room-card(roomCard888Props)
      .cards__room-card
        -
          const roomCard840Props = {
            sliderContent: require('/src/assets/images/rooms/room-840.jpg'),
            number: 840,
            price: 9990,
            score: 4,
            reviewsNumber: 65
          }
        +room-card(roomCard840Props)
