extends /layouts/base.pug

include /components/Logo/Logo.pug
include /components/Find-rooms/Find-rooms.pug
include /components/Sign-up/Sign-up.pug

block baseVariables
  - const title = "Cards";
  - const bodyClass = "cards";

block content
  .cards__logo
    .cards__logo-icon 
      +logo({style:'gray'})

  .cards__container
    .cards__column 
      +find-rooms
      +sign-up

    .cards__column 

    .cards__column
      .cards__calendar 
        .js-cards-calendar--opened 
