@import '@/assets/fonts/_fonts.scss';

html {
  /* default font size = rem(14px) or 87.5% */
  font-size: 87.5%;
  font-family: Montserrat, Arial, sans-serif;

  @media (max-width: $desktop) {
    font-size: 70%;
  }
}

body {
  height: 100vh;
  margin: 0;

  @include font-montserrat-body;
}
