block baseVariables
doctype html
html(lang='ru')
  head
    meta(content='utf-8', name='charset')
    meta(content='initial-scale=1.0, width=device-width', name='viewport')
    meta(content='Toxin markup MetaLamp educational project', name='description')
    meta(content='HTML, PUG, BEM, SASS, JavaScript', name='keywords')
    title #{ title }
  body(class=`${bodyClass}`)
    block header
    block content
    block footer
