block baseVariables
doctype html
html(lang='ru')
  head
    meta(name='charset', content='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='description', content='Toxin markup MetaLamp educational project')
    meta(name='keywords', content='HTML, PUG, BEM, SASS, JavaScript')
    title #{ title }
  body(class=`${bodyClass}`)
    block header
    block content
    block footer
