doctype html
block vars
html(lang='en')
  head
    meta(name='charset', content='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title #{title}
  body
    block header
    block content
    block footer
