@mixin container($max-width: $container-default) {
  width: 100%;
  max-width: rem($max-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 rem(20px);

  @media (max-width: $desktop) {
    box-sizing: border-box;
  }

  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 rem(10px);
  }
}
