@mixin form {
  box-sizing: border-box;
  width: rem(380px);
  padding: rem(40px 30px 30px);
  background: $bg-primary;
  border: 1px solid $border-form;
  border-radius: 4px;
  box-shadow: 0 0 25px $shadow-form;

  &__heading {
    margin: 0 0 rem(20px);
    white-space: pre-line;

    @include font-montserrat-h1;
  }
}
