mixin button-burger
  button.button-burger.js-button-burger
    span.button-burger__line.button-burger__line_position_top
    span.button-burger__line.button-burger__line_position_middle
    span.button-burger__line.button-burger__line_position_bottom
