mixin button-burger
  button.button-burger.js-button-burger
    span.button-burger__line.button-burger__line_position_1
    span.button-burger__line.button-burger__line_position_2
    span.button-burger__line.button-burger__line_position_3