.button-burger {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: rem(20px);
  background: transparent;
  border: 0;
  cursor: pointer;

  @media (max-width: $tablet) {
    display: flex;
  }

  &__line {
    width: rem(35px);
    height: 2px;
    background: $bg-tertiary;
    transition: transform .75s ease, opacity .75s ease;
  }

  &__line_position_top {
    transform: rotate(0);
    transform-origin: top left;
  }

  &__line_position_middle {
    opacity: 1;
  }

  &__line_position_bottom {
    transform: rotate(0);
    transform-origin: bottom left;
  }

  &_open {
    position: fixed;

    .button-burger__line_position_top {
      transform: rotate(45deg);
      transform-origin: top left;
    }

    .button-burger__line_position_middle {
      opacity: 0;
    }

    .button-burger__line_position_bottom {
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }
}
