nav.header-nav
  ul.header-nav__list
    li.header-nav__item.header-nav__item--selected О нас
    li.header-nav__item.header-nav__item--expanded Услуги
    li.header-nav__item Вакансии
    li.header-nav__item Новости
    li.header-nav__item.header-nav__item--expanded Соглашения
