nav(class='header-nav')
  ul(class='header-nav__list')
    li(class='header-nav__item') О нас
    li(class='header-nav__item header-nav__item--expanded') Услуги
    li(class='header-nav__item') Вакансии
    li(class='header-nav__item') Новости
    li(class='header-nav__item header-nav__item--expanded') Соглашения