.header-nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20px);
    align-items: center;
    @include clear-ul-style;
  }

  &__item {
    padding: rem(20px 0);
    color: $dark50;
    cursor: pointer;

    @include font-montserrat(rem(14px), rem(17px));

    &:hover,
    &_selected {
      -webkit-text-stroke: 1px $dark75;
    }

    &_expanded::after {
      @include font-material-icons('expand_more');
    }
  }

  &__item-link {
    @include clear-link-style;
  }

  @media (max-width: $tablet) {

    &__list {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      margin-top: rem(20px);
    }

    &__item {
      padding: rem(20px);
    }

    &__item-link {
      width: 100%;
    }
  }
}
