@import '../../styles/constants.scss';

.header-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $dark50;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--expanded {
      &::after {
        font-family: 'Material Icons';
        content: 'expand_more';
        font-size: 24px;
        line-height: 20px;
        vertical-align: middle
      }
    }
  }
}
