@import '../../styles/_constants.scss';
@import '../../styles/_mixins.scss';

.header-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include clear-ul-style;
  }

  &__item {
    color: $dark50;
    cursor: pointer;
    @include font-montserrat(rem(14px), rem(17px));

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--selected {
      color: $dark75;
      font-weight: bold;
    }

    &--expanded {
      &::after {
        font-size: rem(24px);
        font-family: 'Material Icons';
        vertical-align: middle;
        content: 'expand_more';
      }
    }
  }

  &__item-link {
    @include clear-link-style;
  }
}
