@import '../../styles/constants.scss';

.header-nav {
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    color: $dark50;
    font-weight: normal;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: 17px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--selected {
      color: $dark75;
      font-weight: bold;
    }

    &--expanded {
      &::after {
        font-size: 24px;
        font-family: 'Material Icons';
        vertical-align: middle;
        content: 'expand_more';
      }
    }
  }
}
