.room-filter {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  &__date-dropdown {
    margin-bottom: rem(20px);
  }

  &__dropdown-room-amenity {
    margin-bottom: rem(13px);
  }

  &__range-slider,
  &__checkbox-list,
  &__rich-checkbox-list,
  &__dropdown-guests {
    margin-bottom: rem(30px);
  }
}
