include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown.pug
include /components/range-slider/range-slider.pug
include /components/checkbox-list/checkbox-list.pug

mixin room-filter
  -
    const dateDropdownProps = {
      dropdownLabel:'даты пребывания в отеле',
      dropdownClass: 'js-room-filter-date-dropdown',
    }

    const rangeSliderProps = {
      label: 'диапазон цены',
      additionalText:'Стоимость за сутки пребывания в номере',
    }

    const checkboxListProps = {
      legend: 'правила дома',
      name: 'roomRules',
      items: [
        { text: 'Можно курить', name: 'withSmoking' },
        { text: 'Можно с питомцами', name: 'withPets', checked: true },
        { text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', name: 'withGuests', checked: true },
      ]
    }

    const richCheckboxListProps = {
      legend: 'доступность',
      name: 'accessibility',
      items: [
        { 
          text: 'Широкий коридор',
          name: 'hasLargeHall',
          info: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.'
        },
        {
          text: 'Помощник для инвалидов',
          name: 'hasHelperForInvalids',
          info: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.'
        },
      ]
    }

    const expandableCheckboxListProps = {
      legend: 'дополнительные удобства',
      name: 'additionalAmenities',
      expandable: true,
      expanded: false,
      items: [
        { text: "Завтрак", name: 'hasBreakfast', checked: false },
        { text: "Письменный стол", name: 'hasDesk', checked: true },
        { text: "Стул для кормления", name: 'hasChairForFeeding', checked: true },
        { text: "Кроватка", name: 'hasCrib', checked: true },
        { text: "Телевизор", name: 'hasTV', checked: false },
        { text: "Шампунь", name: 'hasShampoo', checked: false },
      ]
    }

  form.room-filter(name='roomFilter')
    .room-filter__date-dropdown
      +date-dropdown(dateDropdownProps)

    .room-filter__dropdown-guests.js-room-filter-dropdown-guests
      +dropdown({ name: 'dropdownGuests' })

    .room-filter__range-slider.js-room-filter-range-slider
      +range-slider(rangeSliderProps)

    .room-filter__checkbox-list
      +checkbox-list(checkboxListProps)

    .room-filter__rich-checkbox-list
      +checkbox-list(richCheckboxListProps)

    .room-filter__dropdown-room-amenity.js-room-filter-dropdown-room-amenity
      +dropdown({ name: 'dropdownRoomAmenity' })

    .room-filter__expandable-checkbox-list.js-room-filter-checkbox-list
      +checkbox-list(expandableCheckboxListProps)
