//- available properties:
  items: Item[]
  Item: {
    info: 'comfort' | 'convenience' | 'cosiness';
    underline: boolean;
  }

include /components/room-advantages-item/room-advantages-item.pug

mixin room-advantages({ items })
  ul.room-advantages
    each item in items
      case item.info
        when 'comfort'
          +room-advantages-item('comfort','Комфорт', 'Шумопоглощающие стены', item.underline)
        when 'convenience'
          +room-advantages-item('convenience','Удобство', 'Окно в каждой из спален', item.underline)
        when 'cosiness'
          +room-advantages-item('cosiness','Уют', 'Номер оснащён камином', item.underline)
