.link {
  width: 100%;
  color: $dark50;
  cursor: pointer;

  @include clear-link-style;

  &:hover,
  &_selected {
    -webkit-text-stroke: 1px $dark75;
  }

  &_font-size_normal {
    @include font-montserrat(rem(14px), rem(17px));
  }

  &_font-size_big {
    @include font-montserrat(rem(28px), rem(27px));
  }

  &__dropdown {
    position: relative;
    border-radius: 4px;
    cursor: pointer;
  }

  &__dropdown-button {
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: 0;
    cursor: pointer;

    &::after {
      @include font-material-icons('expand_more');
    }

    &-icon_expanded-less::after {
      @include font-material-icons('expand_less');
    }
  }

  &__dropdown-items {
    position: absolute;
    top: rem(25px);
    right: 0;
    display: none;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 110%;
    background: $white;
    -webkit-text-stroke: 0;

    @include clear-ul-style;

    &_visible {
      display: flex;
    }
  }

  &__dropdown:hover {
    -webkit-text-stroke: 1px $dark75;
  }
}
