mixin slider(images)
  .swiper.js-swiper
    .swiper-wrapper
      each image in images
        .swiper-slide(style=`background: url('${image}')`)
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
